:root {
    --base-accent: #247000;
    --base-accent-off: #46dd00;
    --base-forground: #000000;
    --base-forground-off: #1f1f1f;
    --base-background: #d5e6ed;
    --base-background-off: #b1c0c7;
    --accent: var(--base-accent);
    --accent-off: var(--base-accent-off);
    --forground: var(--base-forground);
    --forground-off: var(--base-forground-off);
    --background: var(--base-background);
    --background-off: var(--base-background-off);
}

@media (prefers-color-scheme: dark) {
    :root {
        --accent: var(--base-accent-off);
        --accent-off: var(--base-accent);
        --forground: var(--base-background-off);
        --forground-off: var(--base-background);
        --background: var(--base-forground-off);
        --background-off: var(--base-forground);
    }
}

html {
    background-color: var(--background-off);
}

body {
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    max-width: 1200px;

    background-color: var(--background);
    color: var(--forground-off);
}

/* MAIN */
main {
    position: relative;
    --pad: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow-y: auto;
    padding: 50px;
    padding-top: 0;
    box-sizing: border-box;
    padding: var(--pad);
    border-radius: 10px;
    border-color: var(--accent-off);
    margin-left: var(--pad);
    margin-right: var(--pad);
}

h1 {
    text-align: center;
}

/* h2 {
    text-align: center;
} */

a {
    color: var(--accent);
}

a:active {
    color: var(--accent-off);
}

.banner {
    background-color: var(--accent-off);
    padding: 5px;
    text-align: center;
    border-radius: 10px;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
}