:root {
    --base-accent: #aaaa00;
    --base-accent-off: #555500;
    --base-forground: #101010;
    --base-forground-off: #1f1f1f;
    --base-background: #efefef;
    --base-background-off: #e0e0e0;
    color: #000000;
    --accent: var(--base-accent);
    --accent-off: var(--base-accent-off);
    --forground: var(--base-forground);
    --forground-off: var(--base-forground-off);
    --background: var(--base-background);
    --background-off: var(--base-background-off);
}

.darkModeAlert {
    display: none;
}

.lightModeAlert {
    display: inline;
}

@media (prefers-color-scheme: dark) {
    :root {
        --accent: var(--base-accent-off);
        --accent-off: var(--base-accent);
        --forground: var(--base-background-off);
        --forground-off: var(--base-background);
        --background: var(--base-forground-off);
        --background-off: var(--base-forground);
        color: #ffffff;
    }

    .darkModeAlert {
        display: inline;
    }

    .lightModeAlert {
        display: none;
    }
}

html {
    background-color: var(--background-off);
}

body {
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    max-width: 1200px;

    background-color: var(--background);
}

/* MAIN */
main {
    position: relative;
    --pad: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow-y: auto;
    padding: 50px;
    padding-top: 0;
    box-sizing: border-box;
    padding: var(--pad);
    border-radius: 10px;
    border-color: var(--accent);
    margin-left: var(--pad);
    margin-right: var(--pad);
}

h1 {
    text-align: center;
}

/* h2 {
    text-align: center;
} */

a {
    color: var(--accent-off);
}

a:active {
    color: var(--accent);
}

.banner {
    background-color: var(--accent);
    padding: 5px;
    text-align: center;
    border-radius: 10px;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
}